1.how to access elements in tuple even join tuple and multiple tuples and do indexing and counting.

In [1]:


tuple1=("belgavi","hubli","belgavi")
print(tuple1[0])
print(tuple1[1])
print(tuple1[2])
print(tuple1[-1])
tuple6= tuple1 + tuple1
print(tuple6)
tuple7= tuple6 * 2
print(tuple7)
y=tuple7.index('belgavi')
print(y)
x=tuple7.count('belgavi')
print(x)

belgavi
hubli
belgavi
belgavi
('belgavi', 'hubli', 'belgavi', 'belgavi', 'hubli', 'belgavi')
('belgavi', 'hubli', 'belgavi', 'belgavi', 'hubli', 'belgavi', 'belgavi', 'hubli', 'belgavi', 'belgavi', 'hubli', 'belgavi')
0
8

2.Create a set and show the unordered output.And add another set to it.

In [2]:
set1={"milk","water","sky","ground"}
print(set1)
set1.add('earth')
print(set1)

{'milk', 'water', 'sky', 'ground'}
{'milk', 'earth', 'ground', 'water', 'sky'}

3.Using dictionaries print the name of a city,pincode and area

In [4]:
Dict1= {"name of a city":"hub;i",
       "Area":"goppanakoppa",
       "Pincode":"580023"}
print(Dict1)

{'name of a city': 'hub;i', 'Area': 'goppanakoppa', 'Pincode': '580023'}

4.Using the elif show the colour of the cloth, when picked randomly.

In [5]:
cloth1_colour="green"
cloth2_colour="blue"
cloth3_colour="red"
cloth4_colour="white"

pick_cloth=input("please pick a cloth")

if pick_cloth == cloth1_colour:
  print("green cloth is picked")

elif pick_cloth == cloth2_colour:
  print("blue cloth is picked")

elif pick_cloth == cloth3_colour:
  print("red cloth is picked")

else:
  print("white cloth is picked")

please pick a clothred
red cloth is picked

5.show the elements in list and add 2 lists.

In [6]:
lis= ['swa','123','30.45']
print(lis)
lis2=['apple','200','inaia']
print(len(lis))
print(len(lis2))
lis3= lis+ lis2
print(lis3)
print(len(lis3))

['swa', '123', '30.45']
3
3
['swa', '123', '30.45', 'apple', '200', 'inaia']
6